{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
<div class="container">
  <body style="background-color:#483D8B;"></body>
    <h1 class="text-center mt-5 mb-3"><font color="white">Ticket</font></h1>
   
   <div class="card">
    <img src="{{ asset('super.png') }}" alt="Symfony!"/>
       
    <div class="card-body">
     <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th width="200px">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.codigo }}</td>
                <td>{{ ticket.descripcion }}</td>
                <td>{{ ticket.cantidad }}</td>
                <td>{{ ticket.precio }}</td>
                <td>
                    <a href="{{ path('app_ticket_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-info float-right" href="{{ path('app_ticket_new') }}">Create new</a>
     </div>
{% endblock %}
